* {
  padding: 0;
  margin: 0;
}

html {
  /* background-color: #f0f0f0; */
  font-size: 62.5%;
}


body {
  font-family: 'PF DinDisplay Pro';
  color: #555555;
  width: 100%;
}

header {
  background-image: url("assets/headerBg.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 322px;
}

/* --animation-- */
.header__animation {
  display: flex;
  background-image: url(./assets/bbjPhone.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 60px;
  margin: 100px 0 0 0;
  -webkit-animation: flight 10s cubic-bezier(0.5, 0.7, 0.5, 1) 0s infinite both;
  animation: flight 10s cubic-bezier(0.5, 0.7, 0.5, 1) 0s infinite both;
}

@keyframes flight {
  from {
    background-position: 0px 100%, 0 0;
    opacity: 0.6;
  }

  to {
    background-position: 90% 100%;
    opacity: 0;
  }
}

/* --header-- */
header a:hover {
  color: #a7d2db;
}

.header__link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 56px 0 0 350px;
}

nav {
  display: flex;
  flex-direction: column;
  width: 921px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 921px;
  height: 15px;
  /* margin: 0 0 0 167px; */
}

/* --menu-tablet-- */


.header__menu-tablet {
  display: none;
}


.header__menu-tablet-icon {
  background: url(./assets/menu.png), rgba(255, 255, 255, 0.5);
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
  margin-left: 40px;
}

.header__menu-tablet-icon:hover {
  background-image: none;
  width: 100px;
  height: 160px;
  margin-right: 20px;
}

#menuTablet {
  display: none;
}

.header__menu-tablet-icon:hover #menuTablet {
  display: block;
}

ul {
  z-index: 60;
  background-color: transparent;
  position: relative;
  min-width: 100px;
  min-height: 160px;
  margin-left: 20px;
}

li {
  z-index: 60;
  list-style-type: none;
  width: 100px;
}

li a:hover {
  color: #a7d2db;
}

#subMenuTablet {
  display: none;

}

#charters1:hover #subMenuTablet {
  display: block;
}

/* --header--menu-- */
.header__menu a,
.header__menu-tablet-icon a,
.header__menu-tablet-links a {
  text-decoration: none;
  color: #929292;
  font-family: 'PFDinDisplayPro-Bold';
  font-size: 1.3rem;
  font-weight: 100;
  margin-right: 30px;
}

.header__menu-links {
  display: none;
  flex-direction: column;
  margin: 42px 0 0 0;
}

.header__menu-link-for {
  display: flex;
  justify-content: space-between;
  height: 26px;
}

.header__menu-link {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-left: 1px solid rgba(85, 85, 85, 0.2);
  padding-left: 50px;
}

.header__menu-link a,
.header__menu-tablet-links {
  text-decoration: none;
  color: #929292;
  font-family: 'PF DinDisplay Pro light';
  font-weight: 400;
  font-size: 1.3rem;
  text-align: justify;
  width: 96px;
}

.header__menu-link:nth-child(5) {
  width: 45px;
}

.header__menu-link:nth-child(1) {
  border-left: none;
  padding-left: 0px;
  /* margin-right: 46px; */
}

.header__translate {
  width: 30px;
  height: 13px;
  margin-top: 0;
}

.header__translate a {
  text-decoration: none;
  color: #929292;
  font-family: 'PFDinDisplayPro-Bold';
  font-weight: 400;
  font-size: 1.3rem;
  text-align: justify;
  vertical-align: top;
  width: 17px;
  height: 13px;
}

/* --header__description-- */
.header__description {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 111px 0;
  width: 1090px;
}

h1 {
  font-family: 'PF DinDisplay Pro reg';
  color: #555555;
  font-size: 10.4rem;
  font-weight: 700;
  line-height: 108px;
  /* word-spacing: 4px; */
  /* letter-spacing: 3px; */
  text-align: justify;
  width: 932px;
  margin: 0 0 0 10px;
}

.header__description-cite {
  display: flex;
  align-items: flex-start;
  margin: 40px 0 0 40px;

}

.header__description-cite-line {
  border-top: 2px solid #555555;
  width: 71px;
  margin: 18px 20px 0 0;
}

.header__description-cite-text p {
  font-family: 'PFDinDisplayPro-Bold';
  color: #555555;
  font-size: 2.0rem;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  width: 722px;
  margin: 2px 0 0 0;
}

.header__description-link-actual {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__description-link-actual a {
  color: #a7d2db;
  font-family: 'PFDinDisplayPro-Bold';
  font-size: 1.3rem;
  line-height: 33px;
  text-decoration: underline;
  letter-spacing: 2px;
  padding-right: 9px;
}

.header__description-link-triangle {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 6px solid #a7d2db;
  border-bottom: 4px solid transparent;
}

.header__description-news-section {
  margin: 30px 0 0 -15px;
}

.header__description-news-section {
  font-family: 'PF DinDisplay Pro light';
  color: #555555;
  font-size: 2.0rem;
  font-weight: 100;
  line-height: 30px;
}

/* --main__banner-- */
.main__banner {
  background-color: #a7d2db;
  width: 100vw;

}

.main__banner-items {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #a7d2db;
  min-height: 370px;
  margin-left: -100px;
  padding: 0 100px 0px 0;
}

.main__banner-item {
  display: flex;
  align-items: flex-start;
  width: 370px;
  margin: 126px 0 0 0;
}

.main__banner-item:nth-child(1) {
  width: 310px;
}

.main__banner-item:nth-child(2) {
  width: 285px;
}


.main__banner-number {
  display: flex;
  align-items: flex-end;
  transform: rotate(-90deg);
}

.main__banner-number-line {
  /* background-color: #fefefe; */
  border-bottom: 1px solid #fefefe;
  width: 63px;
  height: 2px;
  margin: 0 10px 6px 0;
}

.main__banner-number-number {
  font-family: 'PFDinDisplayPro-Bold';
  color: #fefefe;
  font-size: 4.0rem;
  font-weight: 900;
  line-height: 48px;
  text-align: center;
  margin: 0 80px 0 0;
}

.main__banner-text {
  font-family: 'PF DinDisplay Pro light';
  color: #555555;
  font-size: 2.1rem;
  font-weight: 100;
  line-height: 36px;
  width: 275px;
  margin: 0 -40px 0 -65px;
}

h4 {
  font-family: 'PFDinDisplayPro-Bold';
  color: #555555;
  font-size: 2.1rem;
  font-weight: 100;
  line-height: 36px;
}

/*-- main-chart --*/

.main__chart {
  background-image: url("assets/mainBg.png");
  background-repeat: repeat-y;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: 'PF DinDisplay Pro light';
  color: #555555;
  font-size: 3.6rem;
  font-weight: 100;
  line-height: 48px;
  letter-spacing: 19px;
  text-align: center;
  margin: 80px 0px 12px 15px;
}

.main__chart-vertical-line {
  border-right: 1px solid rgba(85, 85, 85, 0.7);
  /* background-color: rgba(85, 85, 85, 0.7); */
  width: 1px;
  height: 30px;
  margin: 0 0 0 14px;
}

h2 {
  font-family: 'PFDinDisplayPro-Bold';
  color: #555555;
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 72px;
  text-align: center;
  margin: 5px 0 13px 14px;
}

h2:hover {
  color: #4e0a0a;
  cursor: pointer;
}

.main__chart-triangle {
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 18px solid #a7d2db;
  margin: 0 0 120px 14px;
}

/* ---chart--- */
.main__chart-table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 0 121px 62px;
}

.main__chart-table-head,
.main__chart-table-row {
  display: none;
  align-items: center;
  justify-content: center;
}

.main__chart-table-head .main__chart-table-flight,
.main__chart-table-head .main__chart-table-booking,
.main__chart-table-head .main__chart-table-ship,
.main__chart-table-head .main__chart-table-date {
  border-left: 1px solid rgba(85, 85, 85, 0.2);
  border-bottom: 1px solid rgba(85, 85, 85, 0.2);
  height: 50px;
  padding: 0 0 20px 40px;
}

.main__chart-table-head .main__chart-table-flight {
  border-left: none;
}

.main__chart-table-row {
  font-family: 'PF DinDisplay Pro reg';
  text-decoration: none;
  color: #555555;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 30px;
}

.main__chart-table-row:hover {
  color: #a7d2db;
  text-decoration: underline;
}

.main__chart-table-flight,
.main__chart-table-booking,
.main__chart-table-ship,
.main__chart-table-date {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  padding: 10px 0 0 40px;
}

.main__chart-table-booking,
.main__chart-table-ship,
.main__chart-table-date {
  border-left: 1px solid rgba(85, 85, 85, 0.2);
  width: 260px;
}

.main__chart-table-flight {
  width: 275px;
}

.main__chart-table-booking {
  cursor: pointer;
}

/* --button add-- */

.main__chart-button a {
  color: #555555;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 33px;
  text-align: center;
  letter-spacing: 2px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 35);
  box-sizing: border-box;
  background-color: #c4e5ec;
  width: 181px;
  height: 54px;
  text-decoration: none;
  margin: 0 0 115px 34px;
}

.main__chart-button a:hover {
  background-color: #49c3df;
}

.main__chart-button-add-triangle {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 6px solid #555555;
  border-bottom: 4px solid transparent;
  margin: 0 0 0 24px;
}

/* --footer-- */

footer {
  background-color: #1c1c1c;
  color: #464646;
  width: 100%;
  min-height: 648px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__vertical-line {
  border-right: 1px solid rgba(85, 85, 85, 0.7);
  width: 1px;
  height: 30px;
  margin: 0 0 0 14px;
}

/* --footer__contacts--*/

.footer__contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'PF DinDisplay Pro light';
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 48px;
  width: 1200px;
  margin: 20px 0 0px 30px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  color: #7e7e7e;
  width: 340px;
  margin: 20px 50px 0 0;
}

.footer__contact-data {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  width: 330px;
}

.footer__contact-data-value {
  font-family: 'PFDinDisplayPro-Bold';
  /* color: #7e7e7e; */
  font-size: 3.6rem;
  font-weight: 100;
  line-height: 48px;
  width: 330px;
}

.address {
  background-image: url(./assets/marker.png);
}

.phone {
  background-image: url(./assets/tel.png);
}

.email {
  background-image: url(./assets/mail.png);
}

.fax {
  background-image: url(./assets/fax.png);
}

.footer__copyright {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1200px;
  margin: 110px 0 0 0;
}

footer:hover,
footer:hover h3,
footer:hover .footer__contact {
  color: #fefefe;
}

.footer__copyright-design a {
  text-decoration: none;
  color: #7e7e7e;
  font-size: 1.6rem;
  cursor: pointer;
  padding-right: 30px;
}

footer:hover a {
  color: #fefefe;
  background-image: url(./assets/logoColor.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
}

/*-- pop-up --*/
#modal_form {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 20px 10px;
}

#modal_form #modal_close {
  font-family: 'PFDinDisplayPro-Bold';
  font-weight: 700;
  color: #a7d2db;
  font-size: 1.8rem;
  border: 1px solid #a7d2db;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
  text-align: center;
}

#modal_form #modal_close:hover {
  color: #0c404b;
  border-color: #0c404b;
}

#overlay {
  z-index: 3;
  position: fixed;
  background-color: #000;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.pop {
  font-family: 'PFDinDisplayPro-Bold';
  color: #555555;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  padding-bottom: 15px;
}

#goal {
  color: #a7d2db;
  text-decoration: underline;
  font-family: 'PF DinDisplay Pro reg';
  text-decoration: none;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

#btn {
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 35);
  box-sizing: border-box;
  background-color: #c4e5ec;
  width: 181px;
  height: 54px;
  color: #555555;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 33px;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 40px;
  margin-left: 60px;
  cursor: pointer;
}

#btn:hover {
  background-color: #49c3df;
}

@media(max-width:1024px) {

  .footer__contacts,
  .footer__copyright {
    width: 1024px;
  }

  .header__link {
    margin: 56px 0 0 0px;
  }
}

@media(max-width:780px) {
  .header__menu {
    display: none;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 700px;
  }

  .header__menu a {
    margin-right: 15px;
  }

  nav {
    width: 700px;
  }

  .header__menu-link a {
    width: 76px;
  }

  .header__menu-tablet {
    display: flex;
  }

  .header__description {
    width: 760px;
  }

  h1 {
    font-size: 6.4rem;
    line-height: 68px;
    text-align: center;
    width: 732px;
  }

  .header__description-cite-text p {
    font-size: 1.6rem;
    line-height: 20px;
    width: 640px;
  }

  .header__description-link-actual {
    justify-content: center;
  }

  .header__description-news-section {
    text-align: justify;
    font-size: 1.6rem;
    width: 700px;
  }

  /* --main-- */
  .main__banner-items {
  
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    padding-bottom: 40px;
  }

  .main__chart-table {
    margin: 0 0 121px 0px;
  }

  .main__chart-table-row {
    font-size: 1.4rem;
  }

  .main__chart-table-head .main__chart-table-flight,
  .main__chart-table-head .main__chart-table-booking,
  .main__chart-table-head .main__chart-table-ship,
  .main__chart-table-head .main__chart-table-date {
    padding-left: 0px;
  }

  .main__chart-table-flight,
  .main__chart-table-booking,
  .main__chart-table-ship,
  .main__chart-table-date {
    justify-content: center;
    width: 190px;
    padding-left: 0px;
  }

  .main__chart-table-row:hover .main__chart-table-booking {
    text-decoration: none;

  }

  .main__chart-table-booking {
    background-image: url(./assets/iconFlight2.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
    color: transparent;
    font-size: 1px;
    text-decoration: none;
  }

  .main__chart-table-booking:hover {
    background-image: url(./assets/iconFlight.png);

  }

  #flight .main__chart-table-booking {
    background-image: none;
  }

  .footer__contacts,
  .footer__copyright {
    font-size: 1.4rem;
    width: 760px;
  }

  .footer__copyright {
    justify-content: space-around;
    margin-bottom: 20px;
  }

}

@media(max-width:425px) {

  .header__menu-tablet,
  nav,
  .header__description,
  h1,
  .footer__contacts,
  .footer__copyright {
    width: 320px;
  }

  .header__description-news-section,
  .header__description-cite-text,
  .header__description-cite-text p {
    width: 300px;
  }

  .header__description-news-section,
  .header__description-cite {
    flex-direction: column;
    text-align: justify;
    margin: 40px 0 0;
  }

  .header__translate {
    margin-right: 20px;
  }

  .main__banner-items {
    flex-direction: column;
    justify-content: stretch;
    padding: 0;
    margin-left: -70px;
  }

  .main__banner-item {
    width: 300px;
    margin: 26px 0 0 0;
  }

  h2 {
    font-size: 3.4rem;
    font-weight: 500;
    line-height: 36px;
    margin: 5px 0 13px;
  }

  h3 {
    font-size: 2.0rem;
    margin: 30px 0px 12px;
    width: 300px;
  }

  h4 {
    font-size: 2.2rem;
  }
.main__chart-table-head h4{
  font-size: 1.3rem;
}
.main__chart-table-flight,
  .main__chart-table-ship,
  .main__chart-table-date {
    font-size: 9px;
    justify-content: center;
    width: 87px;
    
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main__chart-table-booking{
    width: 50px;
  }
  .footer__contact {
    align-items: center;
    justify-content: center;
    margin: 20px 0 0;
  }

  .footer__contact-data {
    width: 290px;

  }

  .footer__contact-data-value {
    font-size: 2.0rem;
    font-weight: 100;
    line-height: 18px;
    width: 290px;
  }
}